<header>
    <nav>
        <div class="container">
            <a href="{{site.baseurl}}/">Home</a>
            <a href="{{site.baseurl}}/blog/">Blog</a>
            <a href="{{site.baseurl}}/contact/">Contact</a>
        </div>
    </nav>

    <div id="headerbox">
        <div class="container">
            <div id="introtext">
                <h1>Jordi Kroon</h1>

                <p>Backend developer @ E-sites <br /><small>Spotify Community Rock Star</small></p>

                <p>
                    <a href="/downloads/Resume-jordi_kroon.pdf">Download my resume</a>
                </p>
            </div>

            <div id="mobilepart">
                <h3>SPOT</h3>

                <p>
                    The application SPOT is an app written in Objective-C. This app will show a timeline of events
                    nearby your location and it has lots of other functions like Facebook authentication, reviews and
                    more.
                </p>

                <a href="{{site.baseurl}}/portfolio/ios-applications/5/spot-application" class="button">MORE INFO</a>
            </div>

        </div>

        <div class="clear"></div>
    </div>
</header>
