<div id="sidebar">

    <div class="sidebarItem">

        <h4>Recent Posts</h4>

        <ul>
            <li>
                <a href="http://jordikroon.nl/blog/item/8/work-in-progress">Work in progress</a><span>2016/03/27</span>
            </li>
        </ul>

    </div>
    <div class="sidebarItem">

        <h4>Github repositories</h4>

        <ul>
            {% assign sorted_repos = site.github.public_repositories | sort:"pushed_at" | reverse %}
            {% for repository in sorted_repos limit: 10 %}
                <li>
                    <a href="{{ repository.html_url }}">{{ repository.name }}</a><span>{{ repository.pushed_at | date: '%Y/%m/%d' }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
