.container {
  max-width: $container-width;
  padding: 0px 10px;
  margin: auto;
}

@import "components/menu.scss";

.button {
  display: inline-block;
  text-decoration: none;
  color: rgb(247, 247, 247);
  background-color: rgb(18, 115, 190);
  padding: 5px 15px;
}

.button:hover {
  background-color: rgb(88, 160, 216);
}

.clear {
  clear: both;
}

#main {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 500px;
}

#main h2 {
  text-align: center;
  font-weight: 100;
  font-size: 33pt;
}

#main hr {
  width: 300px;
  height: 1px;
  margin-bottom: 40px;
  margin-left:auto;
  margin-right:auto;
}

@import "components/tiles.scss";
@import "components/footer.scss";
@import "components/sidebar.scss";
@import "components/blog.scss";

h5 {
  border-bottom: 1px solid rgb(18, 115, 190);
  color: rgb(18, 115, 190);
  font-size: 15pt;
  font-weight: lighter;
  padding: 0px 0px 10px 0px;
  margin: 40px 0px 0px 0px
}

h6 {
  margin: 30px 0px -5px 0px;
  border-bottom: 1px solid rgb(18, 115, 190);
  color: rgb(18, 115, 190);
  padding: 0px 0px 2px 0px;
  font-size: 10pt;

}

/* End portfolio subpage */

/* BLOG PAGINA */

.clearLeft {
  clear: left;
}

#blogrol .portfoliotitle {
  background-image: url('../assets/square.jpg');
  background-repeat: no-repeat;
  background-position: 15px 15px;
  background-color: rgb(238, 238, 238);
  font-weight: 100;
  text-align: left;
  padding: 7px 10px 5px 30px;
  font-size: 18pt;
}

.portfoliotitle h3 {
  background-position: 153px 15px;
  font-weight: 100;
  text-align: left;
  font-size: 18pt;
}

.blogcontent, .portfoliocontent {
  font-weight: normal;
  text-align: justify;

}

.portfoliocontent {
  clear: both;
  margin-bottom: 10px;
}

.portfoliodate {
  color: rgb(18, 115, 190);

  margin-top: 30px;
  font-size: 10pt;
}

.portfolioimg {
  float: right;
  width: 234px;

  margin-left: 20px;
}

.comments, .source {
  display: block;
  float: right;
  background-color: rgb(238, 238, 238);
  padding: 10px 10px;
  color: rgb(160, 160, 160);
  text-decoration: none;
  margin-right: 20px;
  font-weight: normal;
}

.comments:hover, .source:hover {
  background-color: rgb(210, 208, 208);
}

.readMore, .readportfolio {
  display: inline-block;
  float: right;
  background-color: rgb(18, 115, 190);
  padding: 10px 20px;
  color: rgb(247, 247, 247);
  text-decoration: none;
  font-weight: normal;

}

.readportfolio {
  padding: 10px 15px;
  margin-top: 7px;
  display: inline-block;
}

.source {
  float: left;
  margin-top: -38px;
  width: 90px;
  text-align: center;
}

.readMore:hover {
  background-color: rgb(88, 160, 216);
  color: rgb(247, 247, 247);
}

/* END BLOG */

/* START BLOGPAGE */


.blogPage {
  padding: 10px 20px;
}

/* END BLOGPAGE */

/* START CONTACT */

@import "components/contact.scss";
@import "components/messages.scss";


/* END CONTACT */

.errorcode {
  margin-top: 100px;
}

.errorPage {
  text-align: center;
  font-size: 20pt;

}

.errorPage h2 {
  margin-bottom: 30px;
}

.errorPage p {
  margin-top: 50px;
}

