footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(28, 26, 26);
  color: rgb(247, 247, 247);
  font-size: 10pt;
  font-weight: normal;
  height: 35px;

  p {
    margin: 0px;
    padding: 0px;
    padding-top: 7px;
  }

  #sprofiles {
    float: right;

    a {
      margin: 0px;
    }
  }
}
